# Ignore all test and documentation with "export-ignore".
/.gitattributes     export-ignore
/.github/           export-ignore
/.gitignore         export-ignore
/composer.lock      export-ignore
/.travis.yml        export-ignore
/phpunit.xml        export-ignore
/tests              export-ignore
*.dat                binary